<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SportsTriviaGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B40FCF81D903A9800E023B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B40FD0C1D903A9800E023B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B40FD171D903A9800E023B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
